@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

$primary: #333;
$secondary: #64ffda;
$font-color: #8892b0;
$font-color-alt: #ccd6f6;
$bg-color: #0a192f;
$bg-color-alt: #112240;

$headline-text-size: 1.8rem;
$paragraph-text-size: 1rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: $primary;
}

ul {
  list-style: none;
}
html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

.container {
  overflow: hidden;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 60px;
  width: 100%;
  background-color: $bg-color;
  transition: 0.4s;

  // &__items {
  //   width: 60%;
  // }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background-color: $bg-color-alt;
  border: 1px solid pink;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  margin-bottom: 5rem;

  li {
    position: relative;
  }
  .navbar__link::before {
    content: attr(data-number);
    position: absolute;
    display: block;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: $secondary;
  }

  .navbar__link {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    color: $font-color;

    &:hover {
      color: $secondary;
    }
  }
}

.navbar__logo {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  padding: 0.25rem;
  border: 2px solid $secondary;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  z-index: 9999999;

  a {
    color: $secondary;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(100, 255, 218, 0.2);
  }
}

.resume-btn {
  padding: 0.5rem 1.2rem;
  border-color: $secondary;
  color: $secondary;
  font-family: 'Fira Code', monospace;
  letter-spacing: 0.1rem;

  &:hover {
    background-color: rgba(100, 255, 218, 0.2);
    border-color: $secondary;
    color: $secondary;
  }
}

.sidebar-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: auto;
  margin: 1.5rem 1.3rem;
  cursor: pointer;

  span {
    display: block;
    height: 4px;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    background-color: $secondary;
    transition: 0.4s;
  }

  span:nth-child(1),
  span:nth-child(3) {
    width: 100%;
  }

  span:nth-child(2) {
    width: 70%;
  }
}

.sidebar-btn.active {
  span:nth-child(1) {
    transform: rotate(45deg) translateY(6px);
  }
  span:nth-child(2) {
    display: none;
  }
  span:nth-child(3) {
    transform: rotate(-45deg) translateY(-6px);
  }
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 3rem;

  h4 {
    color: $secondary;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    padding-bottom: 0.6rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: $font-color-alt;
  }

  h2:nth-of-type(2) {
    font-size: 2.3rem;
    color: $font-color;
  }

  p {
    max-width: 500px;
    margin-bottom: 0.3rem;
    font-size: $paragraph-text-size;
  }

  &__cta {
    margin-top: 2rem;
    padding: 1rem 1.2rem;
    border-color: $secondary;
    color: $secondary;
    background-color: transparent;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.1rem;
    transition: 0.3s;

    &:hover {
      background-color: rgba(100, 255, 218, 0.2);
      border-color: $secondary;
      color: $secondary;
    }
  }
}

/* About */
.about {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 3rem;

  &__text {
    font-size: 1.1rem;

    h3 {
      font-size: $headline-text-size;
      margin-bottom: 2.4rem;
      font-weight: bold;
      color: $font-color-alt;

      &::after {
        content: '';
        position: relative;
        top: -15px;
        left: 12rem;
        display: block;
        width: 150px;
        height: 1px;
        background-color: $font-color;
      }
      span {
        font-size: 1rem;
        font-family: 'Fira Code', monospace;
        display: inline-block;
        line-height: 1.5rem;
        vertical-align: middle;
        padding-right: 1rem;
        color: $secondary;
      }
    }

    p {
      font-size: $paragraph-text-size;
    }
    ul li {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-family: 'Fira Code', monospace;
      font-weight: 300;

      &::before {
        content: '> ';
        font-size: 0.7rem;
        margin-right: 0.5rem;
        color: $secondary;
      }
    }
  }
}

.about__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top center;
  border-radius: 0.5rem;
  position: relative;
}

.about__img-container {
  margin: 2rem auto 0;
  position: relative;
  width: 300px;
  height: 400px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 300px;
    height: 300px;
    background-color: rgba(100, 255, 218, 0.5);
    mix-blend-mode: screen;
    border-radius: 0.5rem;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  &:hover::before {
    background-color: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: -1;
    display: block;
    width: 300px;
    height: 300px;
    border: 3px solid $secondary;
    border-radius: 0.5rem;
    transition: 0.5s;
  }

  &:hover::after {
    top: 15px;
    left: 15px;
  }
}

/* Projects */
.projects {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 3rem;

  &__text {
    font-size: 1.1rem;

    h3 {
      padding-bottom: 2rem;
      font-size: $headline-text-size;
      font-weight: bold;
      color: $font-color-alt;

      &::after {
        content: '';
        position: relative;
        top: -15px;
        left: 19rem;
        display: block;
        width: 150px;
        height: 1px;
        background-color: $font-color;
      }
      span {
        font-size: 1rem;
        font-family: 'Fira Code', monospace;
        display: inline-block;
        line-height: 1.5rem;
        vertical-align: middle;
        padding-right: 1rem;
        color: $secondary;
      }
    }

    p {
      font-size: $paragraph-text-size;
    }
  }
}

.card {
  background-color: transparent;
  position: relative;
  padding-bottom: 2rem;
  transition: 0.5s;
}

.card-img-top:hover,
.card-img-top:active {
  opacity: 0;
}

.card img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.card-title {
  color: $font-color-alt;
  font-weight: bold;
}

.card-body {
  background-color: #112240;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  position: relative;
}

.card-techs ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;

  li {
    padding-top: 0.5rem;
    padding-right: 2rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.8rem;
    font-weight: 300;
    color: $secondary;
  }
}

.card-links {
  position: absolute;
  top: 15px;
  right: 15px;

  a i {
    font-size: 1.5rem;
    color: $font-color;
    margin-left: 1rem;
    transition: 0.3s;

    &:hover {
      color: $secondary;
      transform: scale(1.05);
    }
  }
}
/* Contact */
.contact {
  min-height: 40vh;
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;

  &__text {
    font-size: 1.2rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 1.2rem;
      color: $secondary;
      font-family: 'Fira Code', monospace;

      span {
        font-size: 1rem;
        font-family: 'Fira Code', monospace;
        display: inline-block;
        line-height: 1.5rem;
        vertical-align: middle;
        padding-right: 1rem;
        color: $secondary;
      }
    }

    h2 {
      color: $font-color-alt;
      font-size: 2.2rem;
      font-weight: bold;
      padding-bottom: 1rem;
    }

    p {
      font-size: $paragraph-text-size;
    }
  }

  &__cta {
    margin-top: 2rem;
    padding: 1rem 1.2rem;
    border-color: $secondary;
    color: $secondary;
    font-family: 'Fira Code', monospace;
    letter-spacing: 0.1rem;

    &:hover {
      background-color: rgba(100, 255, 218, 0.2);
      border-color: $secondary;
      color: $secondary;
    }
  }
}

/* Footer */
.footer {
  min-height: 70px;
}
.social-media a i {
  font-size: 2rem;
  padding: 0 1rem 0.5rem;
  color: $font-color;

  &:hover {
    color: $secondary;
    transform: scale(1.05);
  }
}

.footer__text p {
  font-size: 0.8rem;
  margin-top: 1rem;
  font-family: 'Fira Code', monospace;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 250px;
    height: 1px;
    background-color: $font-color;
  }
}

.side-social-media {
  position: fixed;
  bottom: 0;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: $font-color;
  }

  a i {
    margin-bottom: 0.7rem;
    color: $font-color;
    font-size: 1.2rem;
    transition: 0.3s;

    &:hover {
      color: $secondary;
      transform: translateY(-5px) scale(1.05);
      cursor: nw-resize;
    }
  }
}

.side-email {
  position: fixed;
  bottom: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  &::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: $font-color;
  }

  a {
    font-family: 'Fire Code', monospace;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: $font-color;
    writing-mode: vertical-rl;
    display: inline-block;
    margin-bottom: 0.7rem;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: $secondary;
      transform: translateY(-5px) scale(1.05);
    }
  }
}

/* Media Queries */
@media (max-width: 480px) {
  .about,
  .projects,
  .contact {
    padding: 2.5rem 1.3rem;
  }
  .header__text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .about {
    padding-bottom: 0;
  }
  .about__img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top center;
    border-radius: 0.5rem;
    position: relative;
  }

  .about__img-container {
    margin: 2rem auto 0;
    position: relative;
    width: 250px;
    height: 350px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      display: block;
      width: 250px;
      height: 250px;
      background-color: rgba(100, 255, 218, 0.5);
      mix-blend-mode: screen;
      border-radius: 0.5rem;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    &:hover::before {
      background-color: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: -1;
      display: block;
      width: 250px;
      height: 250px;
      border: 3px solid $secondary;
      border-radius: 0.5rem;
      transition: 0.5s;
    }

    &:hover::after {
      top: 15px;
      left: 15px;
    }
  }

  .card-techs ul li {
    font-size: 0.7rem;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 0.9rem;
  }

  .about__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top center;
    border-radius: 0.5rem;
    position: relative;
  }

  .about__img-container {
    margin: 2rem auto 0;
    position: relative;
    width: 200px;
    height: 350px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      display: block;
      width: 200px;
      height: 200px;
      background-color: rgba(100, 255, 218, 0.5);
      mix-blend-mode: screen;
      border-radius: 0.5rem;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    &:hover::before {
      background-color: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: -1;
      display: block;
      width: 200px;
      height: 200px;
      border: 3px solid $secondary;
      border-radius: 0.5rem;
      transition: 0.5s;
    }

    &:hover::after {
      top: 15px;
      left: 15px;
    }
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .navbar {
    width: 100%;
    height: 100px;
    min-height: auto;
    font-size: 0.8rem;
    background-color: $bg-color;

    &__items {
      height: 100%;
    }
  }
  .sidebar-btn {
    visibility: hidden;
  }

  .sidebar {
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
  }

  .navbar__links {
    flex-direction: row;
    align-items: center;
    margin: 0;

    .navbar__link {
      margin-right: 3rem;
    }

    .navbar__link::before {
      content: none;
    }

    .navbar__link::after {
      content: attr(data-number);
      position: absolute;
      left: -35px;
      color: $secondary;
    }
  }

  .resume-btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;

    a {
      color: $font-color-alt;
      text-decoration: none;
    }
  }

  .social-media {
    visibility: hidden;
  }

  .side-social-media {
    visibility: visible;
  }

  .side-email {
    visibility: visible;
  }
}

@media (min-width: 991px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}
